<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="FbSuite">
  <test thread-count="5" name="TestFbFun">
   <classes>
    <class name="Automation.TestNgFB">
    <methods>
    <include name="AlertsHandle"/>
     </methods>
   </class>
    </classes>
  </test> <!-- TestFbFun -->
</suite> <!-- FbSuite -->
